.treesect {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;   
    align-items: center;
    height: 100vh;

    .inv-wave {
        margin: 0 0 10% 0;
        width: 100%;
        height: 40%;
    }

    h1 {
        font-weight: 100;
        font-size: 30px;

        .letter {
            color: #310c86;
        }

        .remletters {
            color: #008e00;
        }
    }

    .treetext {
        p {
            font-size: 1rem;

            span {
                font-size: 3rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .treesect {
        height: 70vh;

        .inv-wave {
            margin-top: -5px;
            margin-bottom: 0;
            height: 20%;
        }

        .treetext {
            p {
                margin: 3%;
            }
        }
        h1{
            font-size: 20px;
        }
    }
}
@media screen and (max-width: 420px) {
    .treesect{
        max-height: 100vh;
        height: 100%;
        .treetext{
           height: 100%;
           .treedesc{
               display: flex;
               .treequote1{
                   margin-top: -20px;
                   margin-right: 15px;
               }
               .treequote2{
                   margin-top: 40px;
               }
           }
        }
    }
}