.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1rem;
    transition: 0.3s;
    border-radius: 5px;
    display: flex;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

.cardbody {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
    padding: 1rem;
    h3,
    span,
    small {
        text-align: left;
    }
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}

.link {
    text-decoration: none;
    color: black;
}

.cover {
    width: 300px;
    height: 200px;
    img {
        object-fit: cover;
        border-radius: 2px 0px 0px 2px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 768px) {
    .card {
        margin-bottom: 15px;
    }
}